/* Переменные */
:root {
    --color-base: rgb(239, 222, 194);
    --color-green: rgb(4, 149, 84);
    --color-text: rgb(51, 52, 51);
    --color-gray: #5d6d57; 
    --background-black-opacity: rgba(0, 0, 0, 0.8);
    --section-background-color: rgba(4, 149, 84, 0.15);
    --box-background-color: rgba(255, 176, 115, 0.126); 
    --box-shadow: 0px 0px 17px rgba(51, 52, 51, 0.18);
}

/* Header styles*/

.header {
    position: relative;
    bottom: 100px;
    height: 120vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
}

.header__background {
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: brightness(85%) saturate(140%);
}

.header__background-wrapper {
    position: absolute;
    height: inherit;
    width: 100%;
    background: rgb(0, 0, 0, 0);

    z-index: 1;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100px;

    color: var(--color-base);
    background: rgba(0, 0, 0, .89);
    
    z-index: 3;
}

.header-top a.link {
    color: var(--color-base);
}

.logo {
    font-size: 30px;
}

.menu-element {
    margin-right: 25px;
    font-size: 21px;
}

.menu-element:last-child {
    margin-right: 0;
}

.menu-element a.link.active, .menu-element a.link:hover {
    color: var(--color-green);
}

.menu-element__link.home {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 90px;
    padding: 0 10px;

    background: var(--color-green);
    border-radius: 20px;
    opacity: .9;

    transition: opacity .25s ease;
    cursor: pointer;
}

.switcher-wrapper:hover {
    opacity: 1;
}

.switcher-wrapper input[type="radio"] {
    display: none;
}

#lang:checked + .switcher span:last-child {
    color: var(--color-base);
}

.switcher-wrapper .switcher{
    flex: 1 1 50%;
    text-align: center;
    position: relative;
    z-index: 2;
    color: var(--color-base);
    transition: color .25s ease-in-out;
    cursor: pointer;
}

.switcher-wrapper input[type="radio"]:checked + .switcher {
    color: var(--color-green);
}

.lang-placeholder {
    width: 40px;
    height: 30px;
    background: var(--color-base);

    position: absolute;
    z-index: 1;
    border-radius: 20px;
    transition: left .25s ease-in-out;
}

.switcher-wrapper input[type="radio"]:nth-of-type(1):checked ~ .lang-placeholder {
    left: 7px;
}

.switcher-wrapper input[type="radio"]:nth-of-type(2):checked ~ .lang-placeholder {
    left: 42px;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(110vh - 3.5%);    

    
    color: var(--color-base);

    z-index: 2;
}

.header-center__wrapper {
    width: 100%;
    padding: 20px 0;

    text-align: center;
    background: var(--background-black-opacity);
}

.name {
    font-size: 50px;
    line-height: 74px;
}

.description {
    display: inline-block;
    width: 1060px;

    font-size: 22px;
    line-height: 1.5em;
    white-space: nowrap;

    border-right: 2px solid transparent;
    overflow: hidden;

    animation: cursor 0.5s 11, print-text 4s steps(80);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: var(--color-base);
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0ch;
    }
}

/* About me*/

.about-me {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.about-me .left {
    flex: 1 1 40%;
    padding-right: 5.5%;
}

.about-me .right {
    flex: 1 1 60%;
    padding-left: 20px;
    padding-right: 10%;
}

.about-me__image {
    /*width: 350;*/
    width: 75%;
    margin-left: auto;
    border-radius: 10px;
    filter: drop-shadow(7px 7px 19px rgba(0, 0, 0, 0.9));
}

.about-me__title {
    font-size: 36px;
}

.about-me__decription {
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 15px;
}

ul.about-me__extra {
    color: var(--color-text);
    font-size: 20px;
    margin-top: 20px;
}

.about-me__extra-element {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.about-me__extra-element:last-of-type {
    margin-bottom: 0;
}

.about-me__extra-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    flex-shrink: 0;
}

.about-me__extra-icon svg {
    color: var(--color-green);
}

/* Achievements */

.achievements {
    flex-direction: column;
    position: relative;
    padding: 40px 0;

}

.achievements:before, 
.achievements:after {
    content: "";
    position: absolute;

    border: 100px solid transparent;
}

.achievements:before {
    top: 0;
    border-top: 40px solid #fff;
}

.achievements:after {
    border-top: 40px solid var(--section-background-color);
    bottom: -140px;
}



/* Skills */

.skills {
    padding: 60px 0 40px;
}

.skills-filters {
    gap: 20px;
    font-size: 18px;
    margin-bottom: 40px;
}

.skill-filter {
    cursor: pointer;
    transition: color .25s ease;
}

.skill-filter:hover {
    color: var(--color-green);
}

.skills-wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.skills-wrapper .left {
    flex: 1 1 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 70%;
    padding-right: 20px;
}

.skills-lists__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skills-list__element {    
    display: flex;
    align-items: center;
    
    flex: 1 1 30%;
    max-width: 30%;
    min-height: 70px;

    padding: 10px;

    box-shadow: 3px 3px 10px rgba(51, 52, 51, 0.18);
    background-color: var(--box-background-color); 
    border-radius: 4px;
    transition: all .1s ease;
    cursor: pointer;
}

.skills-list__element:hover {
    outline: 2px solid var(--color-green);
    transform: scale(105%);
}

.skills-list__element > *:first-child {
    flex: 1 1 30%;
    max-width: 200px;
}

.skills-list__element > *:last-child {
    flex: 1 1 70%;
    padding-left: 20px;
    font-size: 22px;
}

.skills-wrapper .right {
    flex: 1 1 30%;
    padding: 20px 20px 20px 20px;
    border-left: 1px solid var(--color-text);
    background-color: var(--box-background-color); 
    box-shadow: 10px 5px 30px rgba(49, 32, 4, 0.214);
}

.skill-card__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-card__progress {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.skill-card__progress-percent {
    font-size: 18px;
    color: var(--color-text);
}

.skill-card__progress-bar {
    position: relative;
    background: var(--section-background-color);
    border-radius: 20px;
    height: 5px;
    width: 100%;
    overflow: hidden;
}

.skill-card__image {
    width: 100px;
}

.skill-card__name {
    padding-left: 20px;
    font-size: 24px;
}

.skill-card__progress-bar div {
    width: 80%;
    height: inherit;
    background: var(--color-green);
}

.skill-card__description {
    color: var(--color-text);
    text-align: justify;
}

/* Interests */

.interests {
    padding: 40px 20px;
}

.interests__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.interest-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 30%;
    margin-bottom: 30px;
    padding: 20px 10px;

    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background-color: var(--box-background-color);
}

.interest-image {
    border-radius: 8px;
    width: 250px;
    margin-bottom: 20px;
}

.interest-title {
    margin-bottom: 15px;

    font-size: 17px;
    color: var(--color-text)
}

.interest-text {
    color: var(--color-text);
    margin-bottom: 15px;
}

.interest-text:last-of-type {
    margin-bottom: 0;
}

/* Books */

.books {
    padding: 40px 0 80px;
    flex-direction: column;
    position: relative;
}




/* Общие стили */

a.link {
    color: var(--color-green);
    text-decoration: none;   
    transition: opacity 0.25s ease;
}

a.link:hover {
    opacity: 70%;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray {
    color: var(--color-gray);
}

.bold {
    font-weight: 700;
}

.block {
    display: block;
}

.second-title {
    position: relative;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.second-title::after {
    --underline-width: 70px;

    content: "";
    display: inline-block;
    width: var(--underline-width);
    height: 2px;
    background: var(--color-green);
    position: absolute;
    bottom: -5px;
    left: calc(50% - var(--underline-width) / 2);
}

.section-description {
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    color: var(--color-text);
}

.section-bgcolor {
    background: var(--section-background-color);
}

.active {
    color: var(--color-green);
}

/* Slider image*/

.slider {
    position: relative;
    display: flex;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
}

.slider__wrapper {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    transition: all .5s ease;
}

.slider__link {
    flex: 1 1 33%;
}

.slider__image {
    width: auto;
    max-width: 250px;
    max-height: 350px;
    padding-bottom: 30px;
}

.slider__input {
    display: none;
}

.slider__controls {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.slider__controls-element {
    display: inline-block;
    width: 25px;
    height: 5px;

    border-radius: 10px;
    background: rgba(4, 149, 84, 0.3);

    cursor: pointer;
    transition: all .25s ease;
}

.slider__controls-element:hover {
    background: var(--color-green);
}

.slider__input:nth-of-type(1):checked ~ .slider__wrapper:first-of-type {
    margin-left: 0;
}

.slider__input:nth-of-type(2):checked ~ .slider__wrapper:first-of-type {
    margin-left: -100%;
}

.slider__input:nth-of-type(3):checked ~ .slider__wrapper:first-of-type {
    margin-left: -200%;
}

.slider__input:nth-of-type(4):checked ~ .slider__wrapper:first-of-type {
    margin-left: -300%;
}

.slider__input:nth-of-type(5):checked ~ .slider__wrapper:first-of-type {
    margin-left: -400%;
}