/* Переменные */
:root {
    --color-base: hsl(37, 59%, 85%);
    --color-green: #049654;
    --background-black-opacity: rgba(0, 0, 0, 0.8);
}


/* Общие стили */

a.link {
    color: var(--color-green);
    text-decoration: none;   
    transition: opacity 0.25s ease;
}

a.link:hover {
    opacity: 70%;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header styles*/

.header {
    position: relative;
    bottom: 100px;
    height: 120vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
}

.header__background {
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
    filter: brightness(85%) saturate(140%);
}

.header__background-wrapper {
    position: absolute;
    height: inherit;
    width: 100%;
    background: rgb(0, 0, 0, 0);

    z-index: 1;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100px;

    color: var(--color-base);
    background: rgba(0, 0, 0, .89);
    
    z-index: 3;
}

.header-top a.link {
    color: var(--color-base);
}

.logo {
    font-size: 30px;
}

.menu-element {
    margin-right: 25px;
    font-size: 21px;
}

.menu-element:last-child {
    margin-right: 0;
}

.menu-element a.link.active, .menu-element a.link:hover {
    color: var(--color-green);
}

.menu-element__link.home {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 90px;
    padding: 0 10px;

    background: var(--color-green);
    border-radius: 20px;
    opacity: .9;

    transition: opacity .25s ease;
    cursor: pointer;
}

.switcher-wrapper:hover {
    opacity: 1;
}

.switcher-wrapper input[type="radio"] {
    display: none;
}

#lang:checked + .switcher span:last-child {
    color: var(--color-base);
}

.switcher-wrapper .switcher{
    flex: 1 1 50%;
    text-align: center;
    position: relative;
    z-index: 2;
    color: var(--color-base);
    transition: color .25s ease-in-out;
    cursor: pointer;
}

.switcher-wrapper input[type="radio"]:checked + .switcher {
    color: var(--color-green);
}

.lang-placeholder {
    width: 40px;
    height: 30px;
    background: var(--color-base);

    position: absolute;
    z-index: 1;
    border-radius: 20px;
    transition: left .25s ease-in-out;
}

.switcher-wrapper input[type="radio"]:nth-of-type(1):checked ~ .lang-placeholder {
    left: 7px;
}

.switcher-wrapper input[type="radio"]:nth-of-type(2):checked ~ .lang-placeholder {
    left: 42px;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(110vh - 3.5%);    

    
    color: var(--color-base);

    z-index: 2;
}

.header-center__wrapper {
    width: 100%;
    padding: 20px 0;

    text-align: center;
    background: var(--background-black-opacity);
}

.name {
    font-size: 50px;
    line-height: 74px;
}

.description {
    display: inline-block;
    width: 106ch;

    font-size: 22px;
    line-height: 1.5em;
    font-family: Courier, monospace;
    white-space: nowrap;

    border-right: 2px solid transparent;
    overflow: hidden;

    animation: cursor 0.5s 11, print-text 4s steps(80);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: var(--color-base);
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0ch;
    }
}