/* Переменные */
:root {
    --color-white: #fff;
    --color-base: rgb(255, 240, 215);
    --color-bgbase: rgba(236, 222, 197, 0.255);
    --color-green: rgb(2, 153, 10);
    --color-text: rgb(51, 52, 51);
    --color-gray: rgb(93, 109, 87); 
    --color-links: rgb(2, 153, 10);
    --background-black-opacity: rgba(0, 0, 0, 0.8);
    --section-background-color: rgba(2, 153, 10, 0.103);
    --box-background-color: rgba(255, 176, 115, 0.126); 
    --box-shadow: 0px 0px 17px rgba(51, 52, 51, 0.18);

    /* Work vars */
    --work-wrapper: 900px;
    --work-element: 400px;
    --work-year: 50px;
    --work-border-left: 3px;

    --work-margin: calc(var(--work-wrapper) / 2 - var(--work-element));
    --work-indent-before: calc(0px - var(--work-margin));
    --work-indent-after: calc(0px - var(--work-margin) - var(--work-year) / 2 - var(--work-border-left));
}
